/* Estilos para el footer */


footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #495e57;  
    color: white; 
    
  }

footer  li{
  list-style: none; 
  line-height: 40px;
  
}

footer li> a{
  color: white;  
}

img{
  padding-left: 60px;
}