/* Estilos para el footer */


footer {
    display: flex;
    justify-content: space-between; /* Distribuye las columnas con espacio entre ellas */
    padding: 20px;
    background-color: #495e57;  /* Color de fondo del footer */
    color: white;  /* Color de texto */
    
  }

footer > li{
  list-style: none;  
}

footer li> a{
  color: white;
}