footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #495e57;
    color: white; 
    
  }

footer  li{
  list-style: none; 
  line-height: 35px;
  
}

footer li> a{
  color: white;  
}

.logofoot{
  padding-left: 60px;
}