/* Header */
header {
    padding: 15px;
    display: inline-flex;  /* Usamos inline-flex para que se alinee con el nav */    
    width: auto;           /* El header ocupa solo el espacio necesario para el logo */
    padding-left: 500px;
    
  }
  

  