.containerInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}

.infoRestaurant{
    width: 420px;
    height: 331px;
}
.infoRestaurant h1{
    color: #495e57;
}

.infoRestaurant > p {
    color: black

}

.imageRestaurant {
    display: flex;
    flex-direction: column;
}

.imageRestaurant > img{
    width: 600px;
    height: 500px;
    border-radius: 1rem;
}

.chef2{
    margin-top: -50px;
    margin-left: 150px;
}