@font-face {
  font-family: 'Markazi Text';
  src: url('fonts/MarkaziText-VariableFont_wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url('fonts/Karla-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Karla-light';
  src: url('fonts/Karla-Light.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main {
  flex: 1;
}

h1{
  font-family: "Markazi Text", regular;
  font-size: 56px;
}

h2{
  font-family: "Markazi Text", regular;
  font-size: 32px;
}

h3{
  font-family: "Markazi Text", regular;
  font-size: 20px;
}

h4{
  font-family: "Karla-light", regular;
  font-size: 16px;
  color: #ee9972 ;
}

p {
  font-family: "Karla-light", regular;
  font-size: 16px;
}

li {
  font-family: 'Karla-light', regular;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}

a, a:visited{
  text-decoration: none;

}

button {
  font-family: "Markazi Text", regular;
  font-size: 18px;
  background-color: #F4CE14;
  padding: 10px;
  border-radius: 1rem;
  border: none;
  margin-top: 10px;
}